<nav class="navbar navbar-expand-lg navbar-dark bg-info font-italic">
  <a class="text-dark h4 m-0 p-0" routerLink="/">Database</a>
  <div class="navbar navbar-expand" id="navbarNav">
    <ul class="navbar-nav flex-wrap font-weight-bold">
      <li class="nav-item mr-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Form</a>
      </li>
      <li class="nav-item ml-2 mr-2" routerLinkActive="active">
        <a class="nav-link" routerLink="all-completed-forms">All completed forms</a>
      </li>
    </ul>
  </div>
</nav>
