<div class="text-center font-weight-bold">
  <h3 class="font-italic font-weight-bold m-2 p-1">{{ isEdit ? 'Edit form-data' : 'Registration form' }}</h3>
  <form class="p-3 col-6 m-auto" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="row justify-content-around">
      <div class="form-group m-3 col-5">
        <label for="FirstName">First name</label>
        <input type="text" class="form-control bg-info" id="FirstName" name="firstName" placeholder="First name" ngModel required
               #firstName="ngModel">
        <small
          *ngIf="firstName.touched && firstName.errors?.required"
          class="form-text invalid-form-text">
          Enter your first name
        </small>
      </div>
      <div class="form-group m-3 col-5">
        <label for="LastName">Last name</label>
        <input type="text" class="form-control bg-info" id="LastName" name="lastName" placeholder="Last name" ngModel required
               #lastName="ngModel">
        <small
          *ngIf="lastName.touched && lastName.errors?.required"
          class="form-text invalid-form-text">
          Enter your last name
        </small>
      </div>
    </div>
    <div class="form-group col-6 m-auto">
      <label for="patronymic">Patronymic</label>
      <input type="text" class="form-control bg-info" id="patronymic" name="patronymic" placeholder="Patronymic" ngModel
             required #patronymic="ngModel">
      <small
        *ngIf="patronymic.touched && patronymic.errors?.required"
        class="form-text invalid-form-text">
        Enter your patronymic
      </small>
    </div>
    <div class="form-group mt-3">
      <label for="numberInput">Phone number</label>
      <input type="text" class="form-control bg-info" id="numberInput" name="number" placeholder="+996 555 55 55 55" appPhone
             ngModel required #number="ngModel">
      <small
        *ngIf="number.touched && number.errors?.required"
        class="form-text invalid-form-text">
        Enter your phone
      </small>
      <small
        *ngIf="number.touched && number.errors?.numberInput"
        class="form-text invalid-form-text">
        Enter valid phone number
      </small>
    </div>
    <div class="form-group">
      <label for="placeInput">Place of study / work</label>
      <input type="text" class="form-control bg-info" id="placeInput" name="place" placeholder="Attractor" required
             #place="ngModel" ngModel>
      <small
        *ngIf="place.touched && place.errors?.required"
        class="form-text invalid-form-text">
        Enter your place of study / work
      </small>
    </div>
    <div class="form-group m-2">
      <p class="m-0 p-0">Choose your gender</p>
      <div class="row justify-content-center">
        <div class="form-check m-2">
          <input class="form-check-input" type="radio" name="gender" value="male" id="Male" style="width:20px;height:20px;" #gender="ngModel" required ngModel>
          <label class="form-check-label pl-2 pt-1" for="Male"> Male </label>
        </div>
<!--        Здесь получается никак использовать checked из-за ngModel-->
        <div class="form-check m-2">
          <input class="form-check-input"  type="radio" value="female" name="gender" id="Female" style="width:20px;height:20px;" required  ngModel>
          <label class="form-check-label pl-2 pt-1" for="Female"> Female </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputState">T-shirt size:</label>
      <select id="inputState" name="size" class="form-control bg-info" required #size="ngModel" ngModel>
        <option value="">Choose...</option>
        <option value="s">S</option>
        <option value="m">M</option>
        <option value="l">L</option>
        <option value="xl">XL</option>
      </select>
      <small
        *ngIf="size.touched && size.errors?.required"
        class="form-text invalid-form-text">
        Please select your size
      </small>
    </div>
    <div class="form-group">
      <label for="textarea">Your comment</label>
      <textarea class="form-control bg-info" id="textarea" name="comment" rows="3" placeholder="Text..." maxlength="300" required #comment="ngModel" (keyup)="onCountingTheNumberOfCharacters()" ngModel></textarea>
      <p class="p-1">Maximum allowed number of characters {{textAreaLength}}</p>
      <small
        *ngIf="comment.touched && comment.errors?.required"
        class="form-text invalid-form-text">
        Please enter your comment
      </small>
    </div>
    <button type="submit" class="btn bg-btn font-weight-bold" [disabled]="form.invalid">
      <span *ngIf="!loading">{{ isEdit ? 'Edit' : 'Creat'}}</span>
      <span *ngIf="loading" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
    </button>
  </form>
</div>
