::-webkit-input-placeholder {
  color: black;
}

small {
  padding: 5px;
  font-size: 14px;
}

input, select, textarea {
  color: black;
  text-align: center;
  text-transform: capitalize;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

select.ng-invalid.ng-touched {
  border: 2px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

.invalid-form-text {
  color: red;
}
