<div class="p-5">
  <div class="text-center h3 p-3 bg-info m-auto rounded" style="width: 65rem;" *ngIf="formData">
    <p><b><i>First name:</i></b> {{ formData.firstName }}</p>
    <p><b><i>Last name:</i></b> {{ formData.lastName }}</p>
    <p><b><i>Patronymic:</i></b> {{ formData.patronymic }}</p>
    <p><b><i>Phone number:</i></b> {{ formData.number }}</p>
    <p><b><i>Place:</i></b> {{ formData.place }}</p>
    <p><b><i>Size:</i></b> {{ formData.size }}</p>
    <p><b><i>Comment:</i></b> {{ formData.comment }}</p>
    <div>
      <button   class="btn bg-btn font-weight-bold m-2 pl-4 pr-4 text-dark" [routerLink]="['/',formData.id, 'edit']" [disabled]="loading">Edit</button>
      <button class="btn btn-danger m-2 font-weight-bold text-dark" (click)="onRemove(formData.id)" [disabled]="loading">
        <span *ngIf="!loading">Delete</span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
        </button>
    </div>
  </div>
</div>
