body,html {
  height: 100%;
  color: white;
  box-sizing: border-box;
  background: black;
  background: url("https://kartinkin.net/uploads/posts/2021-07/thumbs/1626160627_2-kartinkin-com-p-fon-dlya-chata-telegramm-krasivo-2.jpg");
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  margin: 0;
}

.bg-btn{
  background: orange;
}
